<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Include necessary CSS files -->
<link rel="stylesheet" type="text/css" th:href="@{css/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/ui.jqgrid.css}">
<link rel="stylesheet" type="text/css"  
    th:href="@{css/ui.multiselect.css}">

<!-- Bootstrap CSS -->  
<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}"> 

<!-- Include jQuery library -->  
<script type="text/javascript" th:src="@{js/jquery-3.2.1.js}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Include jqGrid plugin -->  
<script type="text/javascript"  
    th:src="@{js/jqgrid/jquery.jqGrid.min.js}"></script>  

<!-- Include jqGrid language file (if needed) -->
<script type="text/javascript" th:src="@{js/jqgrid/grid.locale-kr.js}"></script>
<!-- <script type="text/javascript" th:src="@{js/jqgrid/grid.locale-en.js}"></script> -->

<!-- jqGrid & action script -->
<script type="text/javascript" th:src="@{js/employee/employeeList0001.js}"></script>

<title>사원 정보</title>
</head>

<body>
	<div class="container-lg my-3">
		<h1>직원목록</h1>

		<div style = "margin-top : 20px; font-size : 12px;">
			<select class = "form-control" style = "width : 10%; float : left;" id = "searchType">
				<option value = "select" selected>선택</option>
				<option value = "EMPLOYEE_NO">직원번호</option>
				<option value = "EMPLOYEE_NM">이름</option>
				<option value = "HP_NO">휴대폰번호</option>
				<option value = "EMAIL">이메일</option>
				<option value = "WRK_TYP_CD">근무형태코드</option>
				<option value = "PSTN_NM">직책</option>
				<option value = "RANK_NM">직급</option>
				<option value = "REG_ID">등록자</option>
				<option value = "MOD_ID">수정자</option>
			</select>
			<input type ="text" id = "searchData" class ="form-control" style = "width : 20%; float : left; margin-bottom : 50px; margin-left : 10px;">
			<button class = "btn btn-dark btn-fill" id = "btnSearch" value = "검색" style = "width : 10%; float : left; margin-left : 10px;">
			  검색
			</button>

			<div class="row-fluid" style="float:right">

				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
					<label class="form-check-label" for="flexSwitchCheckDefault">관리자</label>
				</div>
				
				<button type="button" class="btn btn-dark"  id="btnAddRow">신규</button>
				<button type="button" class="btn btn-danger"  id="btnDeleteRow">삭제</button>
				<button type="button" class="btn btn-primary" id="btnSaveRow">저장</button>
			</div>

		</div>

		<br>
		<br>
		<br>
		
		<table id="employeeList">
		</table>

		<div id="employeePager"></div>
	</div>
</body>
</html>