<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Include necessary CSS files -->
<link rel="stylesheet" type="text/css" th:href="@{css/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/ui.jqgrid.css}">
<link rel="stylesheet" type="text/css"  
    th:href="@{css/ui.multiselect.css}">

<!-- Bootstrap CSS -->  
<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}"> 

<!-- Include jQuery library -->  
<script type="text/javascript" th:src="@{js/jquery-3.2.1.js}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Include jqGrid plugin -->  
<script type="text/javascript"  
    th:src="@{js/jqgrid/jquery.jqGrid.min.js}"></script>  

<!-- Include jqGrid language file (if needed) -->
<script type="text/javascript" th:src="@{js/jqgrid/grid.locale-kr.js}"></script>

<!-- jqGrid & action script -->
<script type="text/javascript" th:src="@{js/employee/employeeList0001.js}"></script>

<title>사원 정보</title>
</head>

<body>
	<div class="container-lg my-3">
		<h1>직원목록</h1>
								
		<div id="buttonWrap">
			<button type="button" id="btnSearch">조회</button>
			<button type="button" id="btnAddRow">신규</button>
			<button type="button" id="btnDeleteRow">삭제</button>
			<button type="button" id="btnSaveRow">저장</button>
		</div>
		<br>
		<table id="employeeList">
		</table>

		<div id="employeePager"></div>
	</div>
</body>
</html>